<!DOCTYPE html>
<html>
<head>
  <title>Magpie</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render partial: 'layouts/header' %>

<% if flash[:notice] %>
  <div class='notice'>
    <%= flash[:notice] %>
  </div>
<% end %>

<% if flash[:error] %>
  <div class='error'>
    <%= flash[:error] %>
  </div>
<% end %>

<% if logged_in? %>
  <div class='profile'>
    <%= link_to 'Sign out', signout_path %>
  </div>
<% end %>

<div class='body-content'>
  <%= yield %>
</div>

</body>
</html>
